:root {
  background-color: rgb(37, 37, 37);

}

#root {
  display: flex;
  flex-direction: column;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}



